body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.forceNode {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.forecLink {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

.line0 {
  fill: none;
  stroke: blue;
  stroke-width: 2px;
}

.line1 {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

/* Style the dots by assigning a fill and stroke */
.dot {
  fill: #ffab00;
  stroke: #fff;
}

div.tooltip {	
  position: absolute;			
  text-align: left;			
  width: 120px;					
  height: 40px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 5px;			
  pointer-events: none;			
}
